@model List<Categoria>
@inject AlugaOffice.Libraries.Login.LoginCliente _loginCliente;
@{
    var pesquisa = Context.Request.Query["pesquisa"];
}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="height: 95px">
    <a class="navbar-brand" href="/">
        <span class="img-logo">AlugaOffice</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">

        <ul class="navbar-nav mr-auto active">
            @{
                var TodasCategorias = Model.ToList();
            }

            @if (Model != null & TodasCategorias.Count > 0)
            {
                <div class="dropdown">
                    <label>
                        <button class="dropbtn"><i class="fa fa-list-ul"></i> Categorias </button>
                        <div class="dropdown-content dropdown-menu multi-level" role="menu" aria-label="dropdownMenu">

                            @{
                                var CategoriasPrincipais = TodasCategorias.Where(a => a.CategoriaPaiId == null).ToList();
                                ViewData["TodasCategorias"] = TodasCategorias;
                            }
                            @foreach (var categoria in CategoriasPrincipais)
                            {
                                @await Html.PartialAsync("_Submenu.cshtml", new ViewDataDictionary(ViewData) { { "CategoriaPai", categoria } })

                            }
                        </div>
                    </label>
                </div>
            }
            <li class="nav-item">

            </li>
        </ul>
        <ul class="navbar-nav form-inline my-2 my-lg-0 active">
            <li>

            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="CarrinhoCompra" asp-action="Index">
                    <i class="rounded-circle fa fa-shopping-cart"></i> Carrinho
                </a>
            </li>
            <li class="divisor" role="separator"></li>
            <li class="nav-item">
                @if (_loginCliente.GetCliente() != null)
                {
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-alt"></i> @_loginCliente.GetCliente().Nome
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-action="Sair" asp-controller="Home" asp-area="Cliente">Sair</a>
                        </div>
                    </div>
                }
                else
                {
                    <a class="nav-link" asp-controller="Home" asp-action="Login" asp-area="Cliente"><i class="fas fa-user-alt"></i> Entrar</a>
                }
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Contato"><i class="far fa-address-book"></i> Contato </a>
            </li>
        </ul>
    </div>
</nav>