@model AlugaOffice.Models.Colaborador
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main" style="margin-top: 80px">
    <div class="form-group">
        <div class="col-md-3 center">
            <div class="text-center mb-4 mt-5">
                <img class="mb-4" src="/img/logo.svg" alt="" width="300" height="100">
                <b>COLABORADOR</b>
            </div>
            @{await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml");}
            <form method="post">
                <div class="form-label-group">
                    <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                </div>
                <hr />
                <div class="form-label-group">
                    <input asp-for="Senha" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>

                <div class="checkbox mb-3">
                    <hr />
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            </form>

        </div>
    </div>
</main>

