@inject AlugaOffice.Libraries.Login.LoginColaborador _loginColaborador;
@{
    ViewData["Title"] = "Painel";
}



<div class="icontext align-items-start mr-4">
    <div class="text">
        <h6 class="title">
            @if (_loginColaborador.GetColaborador() != null)
            {

                <img class="icon icon-md rounded-circle" src="~/img/avatar-male.jpg" style="max-width: 65px;"> <i class="fas fa-user-alt"> Bem Vindo </i>@_loginColaborador.GetColaborador().Nome
            }
        </h6>
    </div>
</div>
