body {
}

/*---NAVEGACAO---*/

.img-logo {
    height: 40px;
    width: 210px;
    display: block;
    background: url('../img/logo-color-on.png') no-repeat;
    background-size: contain;
    color: transparent;
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

.navbar-brand {
    padding: 5px 15px;
}

.divisor {
    width: 1px;
    height: 16px;
    background: white;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #9bf0e1;
    }

/**BOTAO CUSTOM*/

.btn-custom {
    text-transform: uppercase;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
}

    .btn-custom :hover {
        background-color: darkgray;
        color: white;
    }

.btn-personalizado {
    text-transform: uppercase;
    margin-right: 15px;
    width: 100%;
    height: 100%;
}


/**DROPDOWN*/

.dropbtn {
    background-color: #343A40;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
            
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #343A40;
}

/*
.dropbtn {
    background-color: #343A40;
    color: #9A9DA0;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    color: white;
}

.dropdown-content {
    background-color: darkgray;
    
}

    .dropdown-content :hover {
        background-color: darkgray;
        border: none;
        display: block;
        color: white;
    }

.dropdown:hover .dropdown-content {
    display: block;
}
/*


/*---------------------------*/

.field-validation-error {
    color: red;
    display: block;
}

.Imagens .col-md-2 {
    margin-bottom: 30px;
}

.Imagens .btn-imagem-excluir {
    width: 100% !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.Imagens .btn-ocultar {
    display: none;
}

.Imagens div {
    text-align: center;
}

.Imagens .img-thumbnail {
    width: 80%;
    border: none;
}

.Imagens .thumb {
    width: 800px;
}

.Imagens .container-img-thumbnail {
    width: 100%;
    height: 100%;
    max-height: 120px;
    border: 1px solid #CCC;
    border-radius: 4px 4px 0px 0px;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    margin-bottom: 0px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Imagens .input-file {
    display: none;
}

.Imagens .img-upload {
    cursor: pointer !important;
    vertical-align: middle;
}

.Imagens input[name=imagem] {
    display: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }


.container-frete {
    text-align: center;
}

.control-inline {
    flex-wrap: nowrap;
}

.dlist-align dt {
    width: 65px;
}

.dlist-align dd {
    margin-left: 65px;
    text-align: left;
}

.numero-pedido {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #2b7f1b;
    color: #2b7f1b;
    background-color: #c9eac3;
    border-radius: 5px;
    width: 250px;
    padding: 15px 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
